<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eco.org.greenapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCEa4xCNXzzumzQI074uiBhIYaq4tsOPjM" /> <!-- aici trebuie sa iau cheie noua, aia de la greenapp nu a mers; asta e de la proiect dam -->
        <activity
            android:name=".eco.org.greenapp.activities.SignIn"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".eco.org.greenapp.activities.CreateAccount"
            android:label="Înregistrare" />
        <activity
            android:name=".eco.org.greenapp.activities.AddProduct"
            android:label="@string/adding">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="eco.org.greenapp.AppMenu" />
        </activity>
        <activity
            android:name=".eco.org.greenapp.activities.UserInfo"
            android:label="Profil utilizator"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".eco.org.greenapp.activities.AdForProduct"
            android:label="Detalii anunț" />
        <activity
            android:name=".eco.org.greenapp.activities.AddDemandProduct"
            android:label="Doresc">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="eco.org.greenapp.AppMenu" />
        </activity>
        <activity android:name=".eco.org.greenapp.activities.Feedback" />
        <activity
            android:name=".eco.org.greenapp.activities.MyProfile"
            android:label="Profilul meu"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="eco.org.greenapp.eco.org.greenapp.activities.ProfileSettings" />
        </activity>
        <activity
            android:name=".eco.org.greenapp.activities.ProfileSettings"
            android:label="@string/settings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="eco.org.greenapp.AppMenu" />
        </activity>
        <activity
            android:name=".AppMenu"
            android:label="Flux de anunțuri"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".eco.org.greenapp.activities.Home">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="eco.org.greenapp.eco.org.greenapp.activities.ProfileSettings" />
        </activity>
        <activity
            android:name=".eco.org.greenapp.profile_activities.ChangeAboutMe"
            android:label="Actualizare descriere">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="eco.org.greenapp.eco.org.greenapp.activities.ProfileSettings" />
        </activity>
        <activity
            android:name=".eco.org.greenapp.profile_activities.ChangeLastName"
            android:label="Actualizare nume">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="eco.org.greenapp.eco.org.greenapp.activities.ProfileSettings" />
        </activity>
        <activity
            android:name=".eco.org.greenapp.profile_activities.ChangeFirstName"
            android:label="Actualizare prenume">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="eco.org.greenapp.eco.org.greenapp.activities.ProfileSettings" />
        </activity>
        <activity
            android:name=".eco.org.greenapp.profile_activities.ChangeLocation"
            android:label="Actualizare locație"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="eco.org.greenapp.eco.org.greenapp.activities.ProfileSettings" />
        </activity>
        <activity
            android:name=".eco.org.greenapp.profile_activities.ChangePhoneNumber"
            android:label="Actualizare număr telefon">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="eco.org.greenapp.eco.org.greenapp.activities.ProfileSettings" />
        </activity>
        <activity
            android:name=".eco.org.greenapp.profile_activities.ChangeEmail"
            android:label="Actualizare e-mail"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="eco.org.greenapp.eco.org.greenapp.activities.ProfileSettings" />
        </activity>
        <activity
            android:name=".eco.org.greenapp.profile_activities.ChangeUsername"
            android:label="Actualizare username">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="eco.org.greenapp.eco.org.greenapp.activities.ProfileSettings" />
        </activity>
        <activity
            android:name=".eco.org.greenapp.profile_activities.ChangePassword"
            android:label="Actualizare parolă">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="eco.org.greenapp.eco.org.greenapp.activities.ProfileSettings" />
        </activity>
        <activity
            android:name=".eco.org.greenapp.profile_activities.ChangeProfilePhoto"
            android:label="Actualizare fotografie">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="eco.org.greenapp.eco.org.greenapp.activities.ProfileSettings" />
        </activity>
        <activity
            android:name=".eco.org.greenapp.activities.TransactionDetails"
            android:label="Detalii de predare" />
        <activity
            android:name=".eco.org.greenapp.activities.FilterFindUsers"
            android:label="Căutare anunțuri">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="eco.org.greenapp.AppMenu" />
        </activity>
        <activity
            android:name=".eco.org.greenapp.activities.UsersFilterList"
            android:label="Utilizatori găsiți">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="eco.org.greenapp.AppMenu" />
        </activity>
        <activity
            android:name=".AboutApp"
            android:label="Despre aplicație">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="eco.org.greenapp.AppMenu" />
        </activity>
        <activity android:name=".eco.org.greenapp.activities.Help" />
        <activity
            android:name=".eco.org.greenapp.activities.UsersByLocation"
            android:label="Utilizatori din apropiere">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="eco.org.greenapp.eco.org.greenapp.activities.ProfileSettings" />
        </activity>
        <activity
            android:name=".eco.org.greenapp.activities.Notificari"
            android:label="Notificări">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="eco.org.greenapp.AppMenu" />
        </activity>
        <activity android:name=".eco.org.greenapp.activities.RaportCategorii"
            android:label="Categorii">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>